<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <script src="../static/estoque.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="../static/style3.css" rel="stylesheet">
</head>

<body style="background-color: rgba(19, 43, 121, 1);">
  <nav id="navbarenzo" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" id="navbar">
    <a class="navbar-brand" href="#" style="color: #F86803; font-size: 25px; font-family: Verdana;">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html" style="color: aliceblue; font-size: 20px; font-family: Verdana;">criar itens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="solicitar.html" style="color: aliceblue; font-size: 20px; font-family: Verdana;">solicitações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html" style="color: aliceblue; font-size: 20px; font-family: Verdana;">login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <div id="divprincipal"> <!--aqui é o cabeçalho-->
     <img id="imagsenai" src="../static/senai-logo.jpeg"> 
     <h1 id="H1EA">Estoque Atual</h1> 
  </div><!--fim do cabeçalho-->
  <br>
  <div id="divbranco"><!--aqui é bloco branco do centro-->
    <div id="divazul" ><!--DIV do bloco azul-->
        <table border="3" id="table" class="produtos"> <!--fazendo uma tabela para os itens-->
          <tr>
            <th class="celula" style="background-color:  rgb(255, 255, 255);">Itens</th>
            <th class="celula" style="background-color:  rgb(255, 255, 255);">Quantidade</th>
          </tr>
          <tr class="produto Limpeza">
            <td class="celula">Desinfetante</td>
            <td class="celula">4 Unidades</td>
          </tr>
          <tr class="produto Limpeza">
            <td class="celula">Detergente</td>
            <td class="celula">2 Unidades</td>
          </tr>
          <tr class="produto Limpeza">
            <td class="celula">Desengraxante</td>
            <td class="celula">2 Unidades</td>
          </tr>
          <tr class="produto Limpeza">
            <td class="celula">Sacos de lixo</td>
            <td class="celula">3 Unidades</td>
          </tr>
          <tr class="produto Limpeza">
            <td class="celula">Papeis Sanitarioa</td>
            <td class="celula">25 Unidades</td>
          </tr><!--fim de prodtudos de limpeza-->
          <!--inicio de produtos de escritorio--> 
          <tr class="produto Escritorio">
            <td class="celula">Bloco de Sulfite A4</td>
            <td class="celula">9 Unidades</td>
          </tr>
          <tr class="produto Escritorio">
            <td class="celula">Grampeador</td>
            <td class="celula">4 Unidades</td>
          </tr>
          <tr class="produto Escritorio">
            <td class="celula">Caixas de Grampo</td>
            <td class="celula">7 Unidades</td>
          </tr>
          <tr class="produto Escritorio">
            <td class="celula">Pastas de Arquivos</td>
            <td class="celula">21 Unidades</td>
          </tr><!--fim de produtos de escritorio-->
          <!--inicio de produtos MRO( manutenção, reparo e operaçoes)-->
          <tr class="produto MRO">
            <td class="celula">Parafusadeira</td>
            <td class="celula">4 Unidades</td>
          </tr>
          <tr class="produto MRO">
            <td class="celula">Parafusos</td>
            <td class="celula">47 Unidades</td>
          </tr>
          <tr class="produto MRO">
            <td class="celula">Porcas</td>
            <td class="celula">32 Unidades</td>
          </tr>
          <tr class="produto MRO">
            <td class="celula">Arruelas</td>
            <td class="celula">36 Unidades</td>
          </tr><!--fim dos produtos MRO-->
        </table>
    </div> <!--aqui é a DIV da pagina azul-->
    <div class="setores"><!--DIV botao de setores-->
     <button id="botao todos" onclick="filtrar('Todos')" class="btn-setor" class="Todos" type="button" style="position: absolute; left: 35px; top: 5px; height: 35px; width: 200px;">Todos</button>
     <button id="botao MRO" onclick="filtrar('MRO')" class="btn-setor" class="MRO" type="button" style= "position: absolute; left: 250px; top: 5px; height: 35px; width: 200px;">MRO</button>
     <button id="botao escritorio" onclick="filtrar('Escritorio')" class="btn-setor" class="Escritorio" type="button" style="position: absolute; left: 465px; top: 5px; height: 35px; width: 200px;">Escritorio</button>
     <button id="botao" onclick="filtrar('Limpeza')" class="btn-setor" class="Limpeza" type="button" style="position: absolute; left: 680px; top: 5px; height: 35px; width: 200px;">Limpeza</button>
    </div> <!--final da DIV de botoes setores-->
  </div> <!--o final da DIV do bloco branco central-->
</body>

</html>