/*criação de item*/
.letras{
    font-family:Verdana ;
    color:#eaedef ;
}
#input{
    width: 40%;       /* Largura total da div pai */
    height: 40px;      /* Aumenta a altura */
    font-size: 20px;   /* Aumenta o tamanho da fonte interna */
    padding: 10px;     /* Espaçamento interno para melhorar aparência*/
}

/*caixa de texto*/
#caixa1{
position:absolute;
width: 420px;
height: 50px;
border-radius: 10px;
}
#caixa2{
position: absolute;
top: 430px;
width: 430px;
height: 50px;
border-radius: 10px;
}
#caixa3{
position: absolute;
top: 540px;
width: 430px;
height: 50px;
border-radius: 10px;
}

/*cor do botao*/
#botaoconcluir {
    background-color: #F27405;
}
