#titulo{
    color: #FFFFFF;
    position: relative;
    left: 80%;
    top: 7%;
    font-family: Verdana;
    
}
#senaibranco{
    width: 20%;
    height: 7%;
    position: relative;
    left: 90%;
    top: 26%;
}